<h1>Activity 1 - Palmer Penguins Data Analytics Project</h1>

<h3>Analyst: Jovan Allyn L. Diaz</h3>

In [1]:
import numpy as np
import pandas as pd

<h3>Converting Dataset(s) into DataFrame
</h3>

<h3>Requirements</h3>
<ul><li>Name of the Data Frame</li></ul>
<ul><li>File Path</li></ul>

In [5]:
penguins = pd.read_csv('penguins.csv')

In [6]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h3>Descriptive Analytics</h3>

In [7]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

<h3>Checking for Null Values</h3>

In [9]:
penguins.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False

In [10]:
penguins.isnull().sum

<bound method DataFrame.sum of      species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0      False   False           False          False              False
1      False   False           False          False              False
2      False   False           False          False              False
3      False   False            True           True               True
4      False   False           False          False              False
..       ...     ...             ...            ...                ...
339    False   False           False          False              False
340    False   False           False          False              False
341    False   False           False          False              False
342    False   False           False          False              False
343    False   False           False          False              False

     body_mass_g    sex   year
0          False  False  False
1          False  False  False
2          False  False  False
3           True   True  False
4          False  False  False
..           ...    ...    ...
339        False  False  False
340        False  False  False
341        False  False  False
342        False  False  False
343        False  False  False

[344 rows x 8 columns]>

<h3>Filtering a Column</h3>

In [11]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [12]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [13]:
penguins['species'] == 'Chinstrap'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: species, Length: 344, dtype: bool

<h3>Filtering Data<h3>

In [14]:
adelie_DF = penguins[penguins['species']== 'Adelie']

In [15]:
adelie_DF

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

<h1> Activity 1 <h1>

<h1> Question#1</h1>

<h2>What is the average body mass of each penguin species?</h2>

In [20]:
penguins.groupby('species')['body_mass_g'].mean()

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64

<h3>Insight:
Gentoo penguins have the highest average body mass, while Adelie penguins are the lightest. This could relate to species-specific characteristics or environments.</h3>

<h1>Question#2</h1>

<h2>What is the heaviest penguin's species and weight?</h2>

In [23]:
penguins.loc[penguins['body_mass_g'] == penguins['body_mass_g'].max(), ['species', 'body_mass_g']]

    species  body_mass_g
169  Gentoo       6300.0

<h3>Insight:
Identifies which species has the single heaviest penguin and what it weighs.</h3>

<h1>Question#3</h1>

<h2>What is the average bill depth for each sex?</h2>

In [24]:
penguins.groupby('sex')['bill_depth_mm'].mean()

sex
female    16.425455
male      17.891071
Name: bill_depth_mm, dtype: float64

<h3>Insight:
Male and female penguins may differ slightly in bill depth due to feeding or biological traits.</h3>

<h1>Question#4</h1>

<h2>What are the average flipper lengths of male vs. female penguins?</h2>

In [25]:
penguins.groupby('sex')['flipper_length_mm'].mean()

sex
female    197.363636
male      204.505952
Name: flipper_length_mm, dtype: float64

<h3>Insight:
Indicates whether one gender typically has longer flippers </h3>

<h1>Question#5</h1>

<h2>How many penguins come from each species and island combination?</h2>

In [26]:
penguins.groupby(['species', 'island']).size()

species    island
Adelie     Biscoe        44
           Dream         56
           Torgersen     52
Chinstrap  Dream         68
Gentoo     Biscoe       124
dtype: int64

<h3>Insight:
Shows where each species lives and how they are distributed across the islands.</h3>

<h1>Question#6</h1>

<h2>What are the top 5 heaviest penguins in the dataset?</h2>

In [27]:
penguins.sort_values(by='body_mass_g', ascending=False).head(5)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
169,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,male,2007
185,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007
269,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,male,2009
229,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,male,2008
231,Gentoo,Biscoe,45.2,16.4,223.0,5950.0,male,2008

<h3>Insight:
Shows the largest penguins recorded, for spotting any species that dominate in size.</h3>

<h1>Question#7</h1>

<h2>What is the total number of penguins per sex and per island?</h2>

In [28]:
penguins.groupby(['sex', 'island']).size()

sex     island
female  Biscoe       80
        Dream        61
        Torgersen    24
male    Biscoe       83
        Dream        62
        Torgersen    23
dtype: int64

<h3>Insight:
Breaks down how male/female penguins are distributed across different islands.</h3>